<table class="responstable">
  <tr>
    <th>Full Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Chatwork</th>
  </tr>
  <% @users.each do |user|%>
    <tr data-link='<%= user_path(user) %>' >
      <td><%= user.full_name %></td>
      <td><%= user.email %></td>
      <td><%= user.phone %></td>
      <td><%= user.chatwork %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @users %>
