<div class="row">
  <div class="col-md-12" >
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user_club.user.full_name %> want to join club</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class=" col-md-12 col-lg-12 ">
            <table class="table table-user-information">
              <tbody>
                <tr>
                  <td><%= t "user_requested" %></td>
                  <td><%= @user_club.user.full_name %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <%= form_for [:management, @user_club] do |f| %>
          <%= f.submit "Approve", class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
