<section>
  <header class="main">
    <h1>Event</h1>
  </header>
  <h2 id="content"><%= @event.name %></h2>
  <section class="nav-event">
    <%= "Date Start: #{@event.date_start}" %>
    <div class="space">|</div>
    <%= "Expense: #{@event.expense} VND" %>
    <div class="space">|</div>
    <%= "Location: #{@event.location}" %>
    <div class="space">|</div>
    <%= link_to "Number member join: #{num_member_joins @event}",
      list_users_path(object: @event, model: "Event") %>
    <div class="space"></div>
    <% @event.users.limit(10).each do |user| %>
      <%= image_tag user.avatar, class: "circle small_img" %>
    <% end %>...
  </section>
  <p><%= @event.description.html_safe %></p>
  <footer-session>
    <%= "Post at: #{@event.created_at}" %>
  </footer-session>
  <section class="choose_event">
    <h3><%= render "likes/likes_toggle" %></h3>
      <%= render "user_events/join_event_toggle" %>
    <div class="action_event">
    <% if is_management? @event.club %>
      <%= link_to "Edit", edit_management_event_path(@event), class: "button" %>
      <div class="space">|</div>
      <%= link_to "Delete", management_event_path(@event),
        method: :delete, class: "button", data: {confirm: "Are you sure?"} %>
      <div class="space">|</div>
      <%= link_to new_management_news_path(event_id: @event), class: "button" do %>
        <span class="fa fa-pencil"></span> Write News
      <% end %>
    <% end %>
    </div>
  </section>
</section>
