<section>
  <header class="main">
    <h1>Event</h1>
  </header>
  <h2 id="content"><%= @event.name %></h2>
  <section class="nav-event">
    <%= "Date Start: #{@event.date_start}" %>
    <div class="space">|</div>
    <%= "Expense: #{@event.expense} VND" %>
    <div class="space">|</div>
    <%= "Location: #{@event.location}" %>
    <div class="space">|</div>
    <%= render "likes/likes_toggle" %>
  </section>
  <p>Praesent ac adipiscing ullamcorper semper ut amet ac risus. Lorem sapien ut odio odio nunc. Ac adipiscing nibh porttitor erat risus justo adipiscing adipiscing amet placerat accumsan. Vis. Faucibus odio magna tempus adipiscing a non. In mi primis arcu ut non accumsan vivamus ac blandit adipiscing adipiscing arcu metus praesent turpis eu ac lacinia nunc ac commodo gravida adipiscing eget accumsan ac nunc adipiscing adipiscing lorem ipsum dolor sit amet nullam veroeros adipiscing.</p>
  <footer-session>
  <%= "Create at: #{@event.created_at}" %>
  </footer-session>
</section>

              <!-- Section -->
                <section>
                  <header class="major">
                    <h2>Activity Events</h2>
                  </header>
                  <div class="posts">
                    <article>
                      <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
                      <h3>Interdum aenean</h3>
                      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                      <ul class="actions">
                        <li><a href="#" class="button">More</a></li>
                      </ul>
                    </article>
                    <article>
                      <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
                      <h3>Nulla amet dolore</h3>
                      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                      <ul class="actions">
                        <li><a href="#" class="button">More</a></li>
                      </ul>
                    </article>
                    <article>
                      <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
                      <h3>Tempus ullamcorper</h3>
                      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                      <ul class="actions">
                        <li><a href="#" class="button">More</a></li>
                      </ul>
                    </article>
                    <article>
                      <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
                      <h3>Sed etiam facilis</h3>
                      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                      <ul class="actions">
                        <li><a href="#" class="button">More</a></li>
                      </ul>
                    </article>
                    <article>
                      <a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
                      <h3>Feugiat lorem aenean</h3>
                      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                      <ul class="actions">
                        <li><a href="#" class="button">More</a></li>
                      </ul>
                    </article>
                    <article>
                      <a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
                      <h3>Amet varius aliquam</h3>
                      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                      <ul class="actions">
                        <li><a href="#" class="button">More</a></li>
                      </ul>
                    </article>
                  </div>
                </section>
