<div class="well well-sm">
  <strong><%= t "display" %></strong>
  <div class="btn-group">
    <a href="#" id="list" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-th-list">
    </span>
    <%= t "list" %></a><a href="#" id="grid" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-th">
    </span><%= t "grid" %></a>
  </div>
  <div class="right">
    <%= link_to t("new_image"), new_image_path, class: "btn btn-default" %>
  </div>
</div>
<div id="products" class="row list-group">
  <%= render @images %>
</div>
