<div class="innerpage">
  <div class="row">
    <div class="col-md-7">
      <div class="form-group">
        <h3><%= t "new_news" %></h3>
        <%= form_for [:management, @news] do |f| %>
          <%= f.hidden_field :event_id, value: @event_id %>
          <div class="form-group">
            <%= f.label t "title_news" %>
            <%= f.text_field :title %>
          </div>
          <div class="form-group">
            <%= f.label t "descriptions_news" %>
            <%= f.cktext_area :content, class: "text_area" %>
          </div>
          <div class="form-group">
            <%= f.submit t "create" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
