<div class="innerpage">
  <div class="row">
    <div class="col-md-7 request event">
      <div class="form-group">
        <h3><%= t "create_new_album" %></h3>
        <%= form_for [:management, @album] do |f| %>
          <div class="form-group">
            <%= f.label t "album_name" %>
            <%= f.text_field :name %>
          </div>
          <div class="form-group">
            <%= f.submit t "create" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
