<div class="well well-sm">
  <strong><%= t "display" %></strong>
  <div class="btn-group">
    <a href="#" id="list" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-th-list">
    </span>
    <%= t "list" %></a><a href="#" id="grid" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-th">
    </span><%= t "grid" %></a>
  </div>
  <div class="right">
    <%= link_to t("create"), new_management_album_path, class: "btn btn-default" %>
  </div>
</div>
<div id="products" class="row list-group">
  <% @albums.each do |album| %>
    <div class="item  col-xs-4 col-lg-4">
      <div class="thumbnail">
        <%= image_tag "logo.png", class: "group list-group-image"  %>
        <div class="caption">
          <h4 class="group inner list-group-item-heading">
            <%= link_to album.name, management_album_path(album) %></h4>
        </div>
      </div>
    </div>
  <% end %>
</div>
