   <%= form_for :club_member, url: club_member_path, method: :patch do |f| %>
   <div class="row">
      <div class="bs-example">
         <div id="detail_club_modal" class="modal fade">
            <div class="modal-dialog">
               <div class="modal-content">
                  <div class="modal-header">
                     <h4 class="modal-title">Edit Club Notification</h4>
                  </div>
                  <div class="modal-body">
                     <div class="col-md-12 col-sm-6 no-padng">
                        <div class="model-l">
                              <ul>
                                 <label>Message:</label>
                                    <%= f.text_area :notification, value: @club.notification, class: "form-control", placeholder: "Message here!" %>
                              </ul>
                           <div class="clearfix"></div>
                              <ul>
                                 <li>
                                    <a class="edit-describe" onclick="editdescribe();" href="javascript:;">Edit describe club?</a>
                                    <div class="describe">
                                       <ul>
                                          <li>
                                             <p>Enter your describe's Club You want to change.</p>
                                          </li>
                                          <li>Describe Club:</li>
                                          <li>
                                             <%= f.text_area :description, value: @club.description, class: "form-control", placeholder: "Describe here!" %>
                                          </li>
                                       </ul>
                                    </div>
                                 </li>
                              </ul>
                              <ul>
                                 <li>
                                    <a class="for-got" onclick="requesttoggle();" href="javascript:;">Send request to edit club's infomation?</a>
                                    <div class="forgot">
                                       <ul>
                                          <li>
                                             <p>Enter your Name Club You want to change.</p>
                                          </li>
                                          <li>Name Club:</li>
                                          <li>
                                          <%= f.text_field :name, value: @club.name, id: "forgetemailId", class: "form-control" %>
                                          </li>
                                       </ul>
                                    </div>
                                 </li>
                              </ul>
                        </div>
                     </div>
                     <div class="clearfix"></div>
                  </div>
                  <div class="modal-footer">
                     <%= f.button "Save and Change", class: "btn btn-default account_btn" %>
                     <%= f.button "Close", class: "btn btn-default account_btn","data-dismiss": "modal" %>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <% end %>
<script type="text/javascript">
   function requesttoggle(){
       $(".forgot").slideToggle('slow');
   }
   function editdescribe(){
       $(".describe").slideToggle('slow');
   }
   //$(document).ready(function(){
   //    $(".for-got").click(function(){
   //
   //    });
   //});

</script>
