<div class="row">
  <div class="col-md-12" >
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @club_request.user.full_name %> send a request</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class=" col-md-12 col-lg-12 ">
            <table class="table table-user-information">
              <tbody>
                <tr>
                  <td><%= t "club_name" %></td>
                  <td><%= @club_request.name %></td>
                </tr>
                <tr>
                  <td><%= t "descriptions_club" %></td>
                  <td><%= @club_request.description %></td>
                </tr>
                <tr>
                  <td><%= t "organization" %></td>
                  <td><%= @club_request.organization.name %></td>
                </tr>
                <tr>
                  <td><%= t "user_requested" %></td>
                  <td><%= @club_request.user.full_name %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <%= form_for [:admin, @club_request] do |f| %>
          <%= f.submit "Approve", class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
